# Node / Angular
**/node_modules/
**/dist/
**/.angular/

# Java / Spring / Maven / Gradle
**/target/
**/.idea/
**/*.iml
**/bin/
**/.settings/
**/.classpath
**/.project
**/.gradle/
**/build/
**/local.properties

# OS / IDE
**/.DS_Store
**/Thumbs.db
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
